@{
    ViewBag.Title = "Confirm Email";
}
<div>
    <h2>@ViewBag.Title.</h2>
    <p class="h4">
        Thank you for confirming your email. Please @Html.ActionLink("click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
