
@{
    ViewBag.Title = "Error 404";
}

<div class="container"  id="EnglishEdit">
    <h1 class="text-center text-shadow-red text-4">Error 400</h1>
    <p class="text-red text-3 mt-5 text-center">This can't be write!! <br /> <span id="400-1"></span><br /><strong class="gone" id="400-2">Your<br />Spelling!</strong></p>
</div>