
@{
    ViewBag.Title = "Custom Errors Index";
}
@*<div class="container-fluid spilledInk">
    <h1 class="text-center text-shadow-white text-4">Error 404</h1>
    <p class="text-white text-3 mt-5 text-center">
        Ink has spilled!!<br />
        <span>The page...</span><br />
        <strong class="text-4 white-text-blue-shadow text-center">It's</strong><br />
        <strong class="text-4 white-text-blue-shadow text-center">Gone!</strong>
    </p>

</div>*@
