
@{
    ViewBag.Title = "Error 404";
}

<div class="container-fluid spilledInk">
    <h1 class="mt-5 text-center text-shadow-white text-4">Error 404</h1>
    <p class="text-white text-3 mt-5 text-center">Ink has spilled!! <br /> <span id="404-1"></span><br /><strong class="text-4 white-text-blue-shadow">It's<br /><span id="404-2">Gone!</span></strong></p>
</div>