
@{
    ViewBag.Title = "Undeliverable";
}

<div class="container-fluid mt-0" id="ReturnToSender">
    <h1 class="text-center text-shadow-white text-4">Message Undeliverable</h1>
    <p class="text-white text-3 mt-5 text-center"><br /> <span id="undeliverable"></span><br />
    <a href="mailto:stacy.toney@protonmail.com" class="font-weight-bold gone" id="404-2">Click here to send your message</a></p>
</div>