/* Jumbotron CSS */
.slide1 {
    background-image: url('img/oldKeyboard.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.slide2 {
    background-image: url('img/fountainPen.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.slide3 {
    background-image: url('img/richard-dykes-SPuHHjbSso8-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Custom Error 404 */
.spilledInk {
    background-image: url('img/spilledInk.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 1200px;
}

.gone {
    color: transparent;
    text-shadow: none;
}

.gone-in {
    color: #fff;
    text-shadow: 3px 3px 3px #BBC7EF;
    font-size: 4em;
}

.gone-out {
    color: transparent;
    text-shadow: 5px 5px 3px #BBC7EF;
    font-size: 4em;
}


.text-shadow-white {
    color: transparent;
    text-shadow: 5px 5px 3px #fff;
}

.white-text-blue-shadow {
    color: #fff;
    text-shadow: 3px 3px 3px #BBC7EF;
}

.text-white {
    color: #fff;
}

.text-3 {
    font-size: 3em;
}

.text-4 {
    font-size: 4em;
}