body {
    padding-top: .5em;
   /* padding-bottom: 4em;*/
}

/* fixed top & fixed bottom */
.fixed-padding {
    padding-top: 5em;
    padding-bottom: 5em;
}
/* End fixed top & fixed bottom */

/* Admin Nav */
navbar nav {
    flex-direction: row;
}

#AdminNav {
    padding-top: 4em;
    display: block;
    justify-content: center;
    background-color: #757F95;
    color: white;
}

    #AdminNav ul {
        list-style-type: none;
        position: relative;
        display: inline-block;
    }

    #AdminNav a {
        color: white;
    }

        #AdminNav a:hover {
            color: white;
            text-decoration: none;
            font-weight: bold;
        }
/* End Admin Nav */

/* Jumbotron CSS */
.slide1 {
    background-image: url('img/oldKeyboard.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.slide2 {
    background-image: url('img/fountainPen.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.slide3 {
    background-image: url('img/richard-dykes-SPuHHjbSso8-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
/* End Jumbotron CSS */

/* Scrolling Wrapper */
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: inline;
}

    .scrolling-wrapper.card {
        display: inline-block;
    }
/* End Scrolling Wrapper */

/* Custom Error 404 */
.spilledInk {
    background-image: url('img/spilledInk.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 1200px;
}

.gone {
    color: transparent;
    text-shadow: none;
}

.gone-in {
    color: #fff;
    text-shadow: 3px 3px 3px #BBC7EF;
    font-size: 4em;
}

.gone-out {
    color: transparent;
    text-shadow: 5px 5px 3px #BBC7EF;
    font-size: 4em;
}
/* End Cutom Error 404 */

/*  Custom Error Bad Request  */
#EnglishEdit {
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('img/bgEnglishEdit.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position-x: center;
}

.spelling-in {
    color: #ff0000;
    text-shadow: 3px 3px 3px #000;
    font-size: 4em;
}

/*  Custom Error Bad Request  */

/* Product Cards */
.p-card {
    min-width: 200px;
}

    /*.card-body {
    min-height: 300px;
    min-width: 300px;
    margin-right: 5px;
}*/

    .card.h5.product-name {
        overflow-wrap: normal;
        max-width: 250px;
    }
/* End Product Cards */

/* Shopping Cart */
.cart-item {
    vertical-align: middle;
}
/* End Shopping Cart */
.text-shadow-white {
    color: transparent;
    text-shadow: 5px 5px 3px #fff;
}

.text-shadow-red {
    color: transparent;
    text-shadow: 5px 5px 3px #FF0000;
}

.white-text-blue-shadow {
    color: #fff;
    text-shadow: 3px 3px 3px #BBC7EF;
}

.red-text-black-shadow {
    color: #FF0000;
    text-shadow: 3px 3px 3px #000;
}

.text-white {
    color: #fff;
}

.text-red {
    color: #FF0000;
}

.text-half {
    font-size: .5em;
}



.text-3 {
    font-size: 3em;
}

.text-4 {
    font-size: 4em;
}

/*  Container Height  */
.push-h {
    height: 100%;
}