<!-- Carousel Wrapper -->
<div id="carousel-example-1z" class="carousel slide carousel-fade pt-4" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-1z" data-slide-to="1"></li>
        <li data-target="#carousel-example-1z" data-slide-to="2"></li>
    </ol>
    <!-- Indicators -->
    <!-- Slides -->
    <div class="carousel-inner" role="listbox">
        <!-- First slide : Digital Writing -->
        <div class="carousel-item active slide1">
            <div class="view">
                <!-- Mask & flexbox options -->
                <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">
                    <!-- Digital Writing -->
                    <div class="text-center white-text mx-5 wow fadeIn">
                        <h1 class="mb-4">
                            <strong>Writer's Supply is here for YOU!</strong>
                        </h1>
                        <p>
                            <strong>Digital writing need a boost?</strong>
                        </p>
                        <p class="mb-4 d-none d-md-block">
                            <strong>
                                From our digital tool box to yours! We carry the tablets with the options you need to move the complexities of your imagination to a formatted manuscript.
                            </strong>
                        </p>
                        <a target="_blank" href="@Url.Action("Index", "Home")#Tablets" class="btn btn-outline-white btn-lg">
                            View Tablets
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End First slide -->
        <!--Second slide : Pens -->
        <div class="carousel-item slide2">
            <div class="view">
                <!-- Mask & flexbox options-->
                <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">
                    <!-- Pens -->
                    <div class="text-center white-text mx-5 wow fadeIn">
                        <h1 class="mb-4">
                            <strong>Writer's Supply is here for YOU!</strong>
                        </h1>
                        <p>
                            <strong>Still a fan of the "old-fashioned" way?" </strong>
                        </p>
                        <p class="mb-4 d-none d-md-block">
                            <strong>
                                Every artist knows some things have to be done by hand. Don't worry! We understand your pen addiction. We have the selection you need to find your perfect creation tool.
                            </strong>
                        </p>
                        <a target="_blank" href="@Url.Action("Index", "Home")#Pens" class="btn btn-outline-white btn-lg">
                            View Pens
                        </a>
                    </div>
                    <!-- End Pens -->
                </div>
            </div>
        </div>
        <!-- End Second slide -->
        <!--Third slide : Stationary -->
        <div class="carousel-item slide3">
            <div class="view">
                <!-- Mask & flexbox options-->
                <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">
                    <!-- Stationary -->
                    <div class="text-center white-text mx-5 wow fadeIn">
                        <h1 class="mb-4">
                            <strong>Writer's Supply is here for YOU!</strong>
                        </h1>
                        <p>
                            <strong>Running out of paper?</strong>
                        </p>
                        <p class="mb-4 d-none d-md-block">
                            <strong>
                                Getting all those ideas out takes up a lot of pages. Don't run short, let us send you a steady supply!
                            </strong>
                        </p>
                        <a target="_blank" href="@Url.Action("Index", "Home")#Statioary" class="btn btn-outline-white btn-lg">
                            View Stationary
                        </a>
                    </div>
                    <!-- End Stationary -->
                </div>
                <!-- Mask & flexbox options-->
            </div>
        </div>
        <!-- End Third slide-->
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->