@model IEnumerable<StoreFront.DATA.EF.Product>

@*<section class="text-center mb-4 scrolling-wrapper">*@
    <!-- Tablets -->
    <div class="card-deck wow fadeIn d-inline">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4">
            @foreach (var item in Model)
            {
                <!--Card-->
                <div class="card m-3 p-3">
                    <!--Card image-->
                    <div class="view overlay">
                        <a href="@Url.Action("Details", "Products", new { id = item.ProductID })">
                            <img src="~/Content/img/@item.Image" class="card-img-top"
                                 alt="@item.ProductName">

                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!--Card image-->
                    <!--Card content-->
                    <div class="card-body text-center">
                        <!--Category & Title-->
                        <a href="" class="grey-text">
                            <h5 class="product-name">@item.ProductName</h5>
                        </a>
                        <h5>
                            @*<strong>
                                <a href="" class="dark-grey-text">
                                    Denim shirt
                                    <span class="badge badge-pill danger-color">NEW</span>
                                </a>
                            </strong>*@
                        </h5>
                        <h4 class="font-weight-bold blue-text">
                            <strong>@($"{item.Price:c}")</strong>
                        </h4>
                    </div>
                    <!--Card content-->
                </div>
                <!--Card-->
            }
        </div>
    </div>
@*</section>*@